.Discount-2 {
  .ptitle {
    font-size: 20px !important;
    font-weight: 700;
    margin: 0px;
    padding-top: 5px !important;
    padding-left: 10px !important;
  }

  .rating i {
    color: #aaa !important;
  }
}
