.Event-detail {
  .ptitle {
    font-size: 23px !important;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    padding-left: 10px !important;
    padding-top: 5px !important;
  }

  .pdescription {
    font-weight: 400 !important;
  }

  .background {
    background-color: #DED5E6;
  }

  .item-heading {
    height: 55px !important;
    padding-left: 10px !important;
  }
}
