.Loyalty-detail {
  .ptitle {
    font-size: 20px !important;
    font-weight: 700;
    margin: 0px;
    padding-top: 5px !important;
    padding-left: 10px !important;
  }

  .distancespan {
    color: #444444;
    font-size: 13px;
    position: absolute;
    right: 22px;
    top: 15px;
  }

  .rating {
    padding: 10px;
  }

  .rating i {
    color: #aaa !important;
  }

}
