.Favourite .item-avatar {
  min-height: 60px !important; }

.Favourite ul {
  padding-top: 7px; }

.Favourite ul li {
  color: #444444;
  display: inline-block !important;
  overflow: hidden;
  padding: 5px !important;
  text-overflow: ellipsis; }
